<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Select Option Example 1</title>
</head>
<body>
    <!-- Include _menu.html -->
    <th:block th:include="/menu"></th:block>
 
    <h2>Select Option Example</h2>
 
 
 
    <form name='f' th:object="${personForm}" method='POST'>
        <table>
            <tr>
                <td>Select Country:</td>
                <td>
                    <select th:field="*{countryId}">
                         <option value="" disabled="disabled"> select country </option>
                         <option th:each="country : ${countries}"
                            th:value="${country.id}"
                            th:utext="${country.name}"/>
                  </select>
 
                </td>
            </tr>
         
            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
    </form>
 
</body>
 
</html>